:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --primary: #1a1b2e;
    --secondary: #00f7ff;
    --text: #ffffff;
    --background: #0a0b1e;
    --accent: #7b2ef9;
    --accent-secondary: #ff66b2;
    --card-bg: rgba(26, 27, 46, 0.8);
    --danger: red;
    --warning: yellow;
  }

p, h1, h2, h3, h4, h5, h6 {
  color: var(--text) !important;
}